<div class="resetPwd-container">
    <h2> Reset Password </h2>
    <div class="form-container">
      <form class="resetForm" [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">
        <mat-form-field class="form-group" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
            <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="!myForm['password'].hasError('required') && myForm['password'].hasError('pattern')">Password must be more than 8characters long,must contain at least 1uppercase and 1numeric.</mat-error>
          </mat-form-field>
      
            <mat-form-field class="form-group" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPwd">
                <mat-error *ngIf="myForm['confirmPwd'].hasError('required')">Confirm password is required</mat-error>
              </mat-form-field>
  
        <div class="resetPwd-btn">
          <button mat-raised-button color="primary" [disabled]="!resetPwdForm.valid">
            Update Password
          </button>
        </div>
      </form>
    </div>
  </div>

