<div class="resetPwd-container">
  <h2> Reset Password </h2>
  <div class="">{{ errorMsg}}</div>
  <div class="form-container">
    <form class="resetForm" [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="hasError('password', 'required')">Password can't be blank.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="hasError('confirmPassword', 'required')">Password Confirmation can't be blank.</mat-error>
      </mat-form-field>

      <div class="resetPwd-btn">
        <button mat-raised-button color="primary" [disabled]="!resetPwdForm.valid">
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>