<div class="container">
    <h2>User Profile</h2>
    <div>
      <img [src]="profileImage" class="profileimg" />
    </div>
    <table class="user-table">
      <tr>
        <td class="label">Name</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td class="label">Email Address</td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td class="label">Type</td>
        <td>{{type}}</td>
      </tr>
      <tr>
        <td class="label">Phone</td>
        <td>{{phone}}</td>
      </tr>
      <tr>
        <td class="label">Date Of Birth</td>
        <td>{{dob | date: 'shortDate'}}</td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td>{{address}}</td>
      </tr>
        <tr>
        <td class="edit-btn" colspan="2">
          <button (click)="editProfile()" >Edit Profile</button>
        </td>
      </tr>
    </table>
  </div>