<div class="user-container">
  <h2 class="title">User List</h2>
  <div class="search-blk">
    <!-- Name Search -->
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="username" placeholder="Name">
    </mat-form-field>

    <!--Email Search -->
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="Email">
    </mat-form-field>

    <!-- Date Search -->
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Created From && Created To</mat-label>
      <mat-date-range-input [rangePicker]="campaignOnePicker" [max]="today">
        <input matStartDate [(ngModel)]="fromDate" placeholder="Check-in date">
        <input matEndDate [(ngModel)]="toDate" placeholder="Check-out date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>

    <div class="btn-blk">
      <button mat-flat-button color="primary" (click)="onSearch()" class="btn-search">
        <mat-icon>search</mat-icon> Search
      </button>
      <button mat-flat-button color="primary" (click)="onClickUserCreate()">
        <mat-icon>person_add</mat-icon>Add User
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">

    <app-lists></app-lists>

    <mat-paginator #paginator [pageSizeOptions]="pageOptions" showFirstLastButtons [length]="totalSize"
      [pageIndex]="currentPage">
    </mat-paginator>
  </div>
</div>