.user-container {
  width: 80%;
  margin: 30px auto;

  .title {
    margin-bottom: 0;
  }

  .search-blk {
    display: flex;
    align-items: center;

    .filter {
      margin-right: 30px;
    }

    .btn-blk {
      margin-bottom: 15px;

      button {
        padding: 3px 10px;
      }

      .btn-search {
        margin-right: 30px;

        mat-icon {
          transform: scale(0.8);
        }
      }

      mat-icon {
        margin-right: 5px;
        margin-bottom: 5px;
        transform: scale(0.8);
      }
    }
  }

  .table-container {
    .user-table {
      width: 100%;
    }
  }
}