<h2 mat-dialog-title>Post Detail</h2>
<div mat-dialog-content class="mat-dialog">
  <mat-list role="list">

    <!-- Title -->
    <mat-list-item role="listitem">
      <span>Title :</span>
      <div class="dialog-data">
        {{data.title}}
      </div>
    </mat-list-item>

    <!-- Description -->
    <mat-list-item role="listitem">
      <span>Description :</span>
      <div class="dialog-data">
        {{data.description}}
      </div>
    </mat-list-item>

    <!-- Status -->
    <mat-list-item role="listitem">
      <span>Status :</span>
      <div class="dialog-data">
        {{data.status}}
      </div>
    </mat-list-item>

    <!-- Posted user -->
    <mat-list-item role="listitem">
      <span>Posted User :</span>
      <div class="dialog-data">
        {{data.posted_user}}
      </div>
    </mat-list-item>

    <!--Posted Date -->
    <mat-list-item role="listitem">
      <span>Posted Date :</span>
      <div class="dialog-data">
        {{data.posted_date | date: 'yyyy/MM/dd a'}}
      </div>
    </mat-list-item>

  </mat-list>
</div>
<div mat-dialog-actions class="close-btn">
  <button mat-flat-button (click)="cancel()" color="warn">Close</button>
</div>