<div class="container">

  <h2 class="title">Post List</h2>

  <!-- Search Operation Field -->
  <div class="filter">
    <mat-form-field appearance="outline">
      <mat-label>Search Posted</mat-label>
      <input type="text" matInput [(ngModel)]="keyword" name="username" #input>
    </mat-form-field>

    <!-- Operation Button -->
    <div class="opr-btn">
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" (click)="searchUser()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-flat-button color="primary" class="btn btn-sm btn-primary ml-1" [routerLink]="['/create-post']">
        <mat-icon>post_add</mat-icon>Add
      </button>
      <button mat-flat-button color="primary" (click)="uploadCSV()" class="btn btn-sm btn-primary ml-1">
        <mat-icon>cloud_upload</mat-icon>Upload
      </button>
      <a mat-raised-button color="primary" class="download-user-btn" csvLink [data]="postData">
        <mat-icon>cloud_download</mat-icon>Download
      </a>
    </div>
  </div>

  <div class="mat-elevation-z8">

    <app-lists matSort></app-lists>

    <mat-paginator #paginator [pageSizeOptions]="pageOptions" showFirstLastButtons [length]="totalSize"
      [pageIndex]="currentPage">
    </mat-paginator>
  </div>
</div>